/******************************/
/** MeNeds NO Contact  | JSA **/
/******************************/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Roboto+Condensed:400,700|Roboto+Slab:400,500,700|Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    box-sizing: border-box;
}

/*************************/
/** variable controller **/
/*************************/
:root {
    --main-bg-color: #F7F5ED;
    --main-black: #000000;
    --men-red: #CF001C;

    --h1-size: 100px;
    --h2-size: 80px;
    --h2-color: #D64300;
    --h3-size: 18px;
    --h4-size: 14px;
    --paragraph-size: 30px;
    --paragraph-font: 'Roboto Condensed', sans-serif;
    --paragraph-span: 'Roboto Slab', serif;
    --span-color: #FFF9E2;
    --main-bg-purple: #372550;
    --main-bg-orange: #D64300;
    --main-bg-lightblue: #91D2D1;
    --sig-series-color: #372550;
    --sig-series-span-color: #D64300;
    --dark-purple-ada: #372550; /* use for text on #84bfbe bkg */

    --margin-segment-2a: -50em;
    --margin-segment-2b: -50em;
    --margin-segment-2c: -55em;
    --margin-segment-3a: -4em;
    --margin-segment-3b: -93em;
    --margin-segment-5a: auto;
    --margin-segment-5b: -40em;

    --menu-width-lg: 700px;
    --menu-width-md: 90%;

    --footer-menu-size: 21px;
    --footer-input-border-color: #ccac41;

    --mobile-view-600: 600px;
}
/** variable controller end **/


/**preloader**/
.preloader {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    background-image: radial-gradient(#fffbe7, #faefc2);
    z-index: 2;
    top: 0;
    left: 0;
}
    @media (max-width: 600px){
        .preloader {
            display: none;
        }
    }
.preloader2 {
    position: absolute;
    width: 150px;
    bottom: 0;
}
    @media (max-height: 800px){
        .preloader2 {
            display: none;
        }
    }
.preloader > .el {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.preloadOut {
	opacity: 1;
	animation-name: fadeout1;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
    animation-duration: 1s;
}
@keyframes fadeout1 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/**end Preload**/

body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background: var(--main-bg-color);
}

html, body, nav, ul {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

main {
    overflow-x: hidden;
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    font-size: var(--h1-size);
    font-family: 'Bebas Neue', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 2px;
}
h2:after{
  display:block;
  content:"";
  width: var(--h2-size);
  height: calc(var(--h2-size) / 4);
  background-image: url("../links/after.svg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size:contain;

}
h2 {
    font-size: var(--h2-size);
    font-family: 'Bebas Neue', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 2px;
    font-weight:normal;
    margin: 0;
}
h3 {
    font-size: var(--h3-size);
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p, span, em {
    font-family: var(--paragraph-font);
}
p {
    font-size: var(--paragraph-size);
    line-height: 1.5;
    letter-spacing: 0.5px;
    margin: 0;
    padding-top: 1em;
}
p span {
    display: block;
    line-height: 1;
    color: var(--span-color);
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
ul, li {
    list-style: none;
}
ul {
    font-family: var(--paragraph-font);
    font-size: var(--paragraph-size);
}
ul > li {
    line-height: 1.5;
}

.mt-5 { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mt-15 { margin-top: 15px; }
.mt-20 { margin-top: 20px; }
.mt-30 { margin-top: 30px; }
.mt-40 { margin-top: 40px; }

.mb-5 { margin-bottom: 5px; }
.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
.mb-30 { margin-bottom: 30px; }
.mb-40 { margin-bottom: 40px; }

.pt-5 { padding-top: 5px; }
.pt-10 { padding-top: 10px; }
.pt-15 { padding-top: 15px; }
.pt-20 { padding-top: 20px; }
.pt-30 { padding-top: 30px; }
.pt-50 { padding-top: 50px; }
.pt-70 { padding-top: 70px; }

.pb-5 { padding-bottom: 5px; }
.pb-10 { padding-bottom: 10px; }
.pb-15 { padding-bottom: 15px; }
.pb-20 { padding-bottom: 20px; }
.pb-30 { padding-bottom: 30px; }
.pb-50 { padding-bottom: 50px; }
.pb-70 { padding-bottom: 70px; }

.push1:hover, .push1:focus{
    -webkit-transform: translateY(-5%);
    transform: translateY(-5%);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.transition-05s {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.transition-1s {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.transition-2s {
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.visuallyhidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

a {
    border: none;
    text-decoration: none;
}
/**
a:after{
    content: '';
    width: 100%;
    height: 2px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}**/

header {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    background: #000;
    clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
    -webkit-clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
    -moz-clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
}
header a {
    text-transform: uppercase;
}

header > .row {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}
header > .row > h1 {
    color: #fff;
    font-size: 100px;
    margin: 15px 0 0;
    font-weight: 500;
}
    @media (max-width: 1200px){

    }
    @media (max-width: 700px){

    }
header > .row > img.your_door {
    width: 500px;
    margin-bottom: 40px;
}
header > .row > img.howworks {
    transform: translateX(-6px);
    margin-bottom: 40px;
}

.reduceMotionBtn{
  font-size: 0.8em;
}

header > .row > img:hover,
header > .row > img:focus {
    transform: scale(1.05);
    cursor: pointer;
}

main {
    width: 80%;
    max-width: 1199px;
    margin: 0 auto;
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

#segment1:after, #segment2:after, #segment3:after{
  display:block;
  content:"";
  width: 80%;
  height: 1px;
  border-bottom: 1px solid var(--men-red);
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

#segment4:after{
  display:block;
  content:"";
  width: 80%;
  height: 1px;
  border-bottom: 1px solid transparent;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.ordersection{
  width: 100%;
  display: flex;
  align-items:center;
  justify-content:center;

}

.orderbtn{
  width: 340px;
  margin: 50px 0;
  background: var(--men-red);
  color:#fff;
  padding: 0.5em;
  display:flex;
  align-items:center;
  justify-content:center;
}

.orderbtn:hover{
  background:#000;
}

.orderbtn h2{
  margin: 0;
  line-height:1em;
}

.orderbtn h2:after{
  display: none; height: 0;
}

section .right{
  flex-basis: 66%;
}

section .left{
  -ms-flex: 1; /* IE 10 */
  flex: 1;
}

section .left img{
  width:100%;
  background: #fff;
}

.left {
    padding: 25px 25px 25px 0;
}
.right {
    padding: 25px 0 25px 25px;
}
    @media (max-width: 600px){
        .left, .right {
            padding: 20px;
        }
}

footer{
  background:#000;
  width: 100%;
  display:flex;
  align-items:center;
  justify-content:center;
}

footer img{
  max-width:340px;
  margin: 40px 0;
}

@media screen and (max-width:768px){
  h1{
    font-size: 64px;
    text-align:center;
  }
  h2{
    font-size: 36px;
  }
  p{
    font-size: 16px;
  }
  header{
    clip-path: polygon(100% 0px, 100% 80%, 50% 90%, 0 80%, 0 0);
-webkit-clip-path: polygon(100% 0px, 100% 80%, 50% 90%, 0 80%, 0 0);
-moz-clip-path: polygon(100% 0px, 100% 80%, 50% 90%, 0 80%, 0 0);
  }
  header .row{
    padding: 30px;
  }
  section .right{
    flex-basis: 100%;
  }
  section .left{
    flex-basis: 100%;
    text-align:center;
  }
}
